@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
      filter: blur(4px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0);
    }
  }

  .animate-fade-up {
    animation: fade-up 0.8s ease-out forwards;
  }

  .animate-delay-100 {
    animation-delay: 0.1s;
  }

  .animate-delay-200 {
    animation-delay: 0.2s;
  }

  .animate-delay-300 {
    animation-delay: 0.3s;
  }

  .animate-delay-400 {
    animation-delay: 0.4s;
  }

  .animate-delay-500 {
    animation-delay: 0.5s;
  }

  .animate-delay-1000 {
    animation-delay: 1s;
  }

  .animate-delay-1200 {
    animation-delay: 1.2s;
  }

  .animate-delay-1400 {
    animation-delay: 1.4s;
  }
}
