<div
  class="absolute bottom-8 flex flex-col items-center gap-2 motion-safe:animate-bounce"
>
  <a
    href="..."
    aria-label="..."
    class="opacity-0 animate-fade-up animate-delay-1400"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 md:h-7 md:w-7 text-primary-600"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M19 9l-7 7-7-7"></path>
    </svg>
  </a>
</div>
